.logo-kellerliste {
  mask: url('@/assets/images/logo-kellerliste.svg') center / 3rem no-repeat;
  -webkit-mask: url('@/assets/images/logo-kellerliste.svg') center / 3rem no-repeat;
  padding: 1.5rem;
  background: var(--kl-white);
}
